
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

@media (orientation: portrait) {
  
          body{
            display: flex;
            flex-direction: column;
            width: 100%;            
          }
          .flow{
            
            width: 100%;
          }

          .info{
          
          width: fit-content;
          
         
          }

          svg {
            width: 100%;
            
          }


          
          h1 {
            font-size: 5vw;
            text-align: center;
            margin-left: 5vw;
            margin-right: 5vw;
          }

          p {
            font-size: 3vw;
          }

          .reason {
            font-size: 2.5vw;
            width: fit-content;
            padding-left: 15px ;
            text-align: left;
            margin: 5%;
          }

          .text-box {
            width: 75vw;
            margin: auto;
          }
          

          .content {
        
        
           
            
            height: 100%;
            width: 100%;
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(255,255,255);
            background-color: rgba(255,255,255);
            overflow-x: hidden;
          }
          
          .closebtn {
  
            font-size: 100px;
            margin-bottom: 20px;
            margin-left: 90vw;
          }
          }
          



@media  (orientation: landscape) {
        body{
          display: flex;
          flex-direction: row;
         
        }
        .flow{
          
          width: 60%;
        }
        
        .info{
          float: right;
          width: 40%;

         
          
        }
        
        svg {
          width: 100%;
          
        }

        
        .content {
        
        
        position: sticky;
        top: 0;
        padding: 10px 100px;
        font-size: 28px;
        font-weight: 500;
        display: none;

        
        
      }

      .closebtn {
  
        font-size: 100px;
        margin-bottom: 10px;
        margin-left: 30vw;
      }
      
        h1 {
          font-size: 2.2vw;
          text-align: center;
        }

        p {
          font-size: 1.5vw;
        }

        .reason {
          font-size: 1.2vw;
          width: fit-content;
          padding-left: 15px ;
          text-align: left;
        }

        .text-box {
          width: fit-content; 
          margin: auto;
        }

}  
span {
  display: inline-block;
}



svg {
  font-size: 28px;
}

svg .box-text{
  font-size: 26px;
}



body {
  font-family: 'Prompt', sans-serif;
}


#limit
{
  border-collapse: collapse;
  width: 100%;
}

#limit td, #limit th {
  border : 1px solid #ddd;
  padding: 8px;
}

#limit td {
  text-align: center;
}

#limit th {
  padding:12px 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  
}



.clicked rect {
  stroke: rgba(79,192,141,0.5);
}

.clicked circle {
  stroke: rgba(79,192,141,0.5);
}



rect {
  fill: white;
  stroke-width: 3;
  
}

.sub-line
{
  fill:none;
  stroke:gray;
  stroke-width:1;
}
.subLine {

  fill:none;
  stroke:gray;
  stroke-dasharray: 6px;
  stroke-linecap: round;
  stroke-width:3
}

.mainLine {

  stroke: gray;
  stroke-width: 4;
}


.mainCircle  {

  fill: none;
  stroke :gray;
  stroke-width :4;
}

.click {
  stroke:rgba(79,192,141,0.5);
}

  .clicked:hover {

  opacity: 0.5;
  cursor: pointer;

}

.res_idea{
  fill: #8ab1d4;
}

.res_standard{
  fill: #9DBAD5;
}

.res_fund{
  fill: #FAF3DD;
}

.res_support{
  fill: #C8D6B9;
}

.res_reward {
  fill: #8FC1A9;
}

.mainBadge tspan {

  
  fill: black; 
  text-anchor: middle;

}

.SubCircle {

  fill: white;
  stroke: gray;
  stroke-width: 4;
  box-shadow: 10px 10px 5px grey;

}

.SubCircle .click {
  stroke: black;
}

.subBadge tspan { 
  fill: black; 
  text-anchor: middle;
}



#agenda-content {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #121314;
  position: relative;
}

.link-blue {
  color: blue;
  text-decoration: underline;
}

.link-blue:hover {
  font-weight: bold;
}

.link-green:hover:after {
  top: 0%;
}

.link-green:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, .8, .13, 1);
  background-color: rgba(79,192,141,0.5);
}


.text-box {
  
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #000000;
 
  
}

.text-right {
  text-align: right;
}

.line {
  width: 0px;
  position: relative;
  padding: 1px;
  margin: 1px;
  left: 50%;
  height: 1em;
  border-left: 6px dotted black;
  

  
}


.left-flex {
  align-self: flex-start;
}

.right-flex {
  align-self: flex-end;
}


.color-light-green {
  background-color: rgba(79, 192, 79, 0.5)
}

.color-light-purple {
  background-color: rgb(211, 145, 227,0.5);
}


.module {
  
  border: 1px solid #ccc;
  margin: 3%;
  width: auto;
  border-radius: 1rem;

}

.module > h4 {
  border-radius: 1rem 1rem 0 0 ;
  padding: 0.1rem 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: 200;
  
}

.module > p {
  padding: 0 1rem;
}

.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    75deg,
    #60bc74,
    #7dbc60 10px,
    #469851 10px,
    #46984d 20px
  );
}


.stripe-4 {
  
  color: white;
  background: repeating-linear-gradient(
    -75deg,
    #9966cc,
    #9966cc 10px,
    #baa1e7 10px,
    #b19cd9 20px
  );
}

.stripe-5 {
  text-align: center;
}

.text-center {
  text-align: center;
  border-radius: 1rem;
}

.container-1 {

  margin: 5%;
  text-align: center;
}