
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

@media (orientation: portrait) {
  
  body{
    display: flex;
    flex-direction: column;
  }
  .flow{
    
    width: 100%;
  }

  .info{
    width: 100%;
  }

  svg {
    width: 100%;
    
  }


  
  

}

@media  (orientation: landscape) {
  body{
    display: flex;
    flex-direction: row;
  }
  .flow{
    
    width: 60%;
  }
  
  .info{
    width: 40%;
  }
  
  svg {
    width: 100%;
    
  }

}  

svg {
  font-size: 28px;
  font-weight: 500;
}

.box-text text {
  font-size: 26px;
}

body {
  font-family: 'Prompt', sans-serif;
}



div.content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  font-size: 28px;
  font-weight: 500;
  display: none;
  
}

div.content h1 {

 
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  
  
}

.clicked rect {
  stroke: rgba(79,192,141,0.5);
}

.clicked circle {
  stroke: rgba(79,192,141,0.5);
}



rect {
  fill: white;
  stroke-width: 3;
  
}

.sub-line
{
  fill:none;
  stroke:gray;
  stroke-width:3;
}
.subLine {

  fill:none;
  stroke:gray;
  stroke-dasharray: 6px;
  stroke-linecap: round;
  stroke-width:3
}

.mainLine {

  stroke: gray;
  stroke-width: 4;
}


.mainCircle  {

  fill: none;
  stroke :gray;
  stroke-width :4;
}

.click {
  stroke:rgba(79,192,141,0.5);
}

  .clicked:hover {

  opacity: 0.5;
  cursor: pointer;

}

.res_idea{
  fill: #8ab1d4;
}

.res_standard{
  fill: #9DBAD5;
}

.res_fund{
  fill: #FAF3DD;
}

.res_support{
  fill: #C8D6B9;
}

.res_reward {
  fill: #8FC1A9;
}

.mainBadge tspan {

  
  fill: black; 
  text-anchor: middle;

}

.SubCircle {

  fill: white;
  stroke: gray;
  stroke-width: 4;
  box-shadow: 10px 10px 5px grey;

}

.SubCircle .click {
  stroke: black;
}

.subBadge tspan { 
  fill: black; 
  text-anchor: middle;
}



#agenda-content {
  display: block;
}

.flow-family-tree {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  
}

.flow-family-tree *,
.flow-family-tree *::after,
.flow-family-tree *::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.flow-family-tree ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  padding: 1em 0;
}

.flow-family-tree ul:after {
  content: '';
  position: absolute;
  top: 1em;
  left: 50%;
  height: 1em;
  border-left: 3px solid black;
}

.flow-family-tree > ul {
  padding: 0;
}

.flow-family-tree li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 3em 1em 0 1em;
}

.flow-family-tree li:before {
  content: '';
  position: absolute;
  top: 1em;
  width: 100%;
  border-top: 3px solid black;
}

.flow-family-tree li:after {
  content: '';
  position: absolute;
  top: 1em;
  left: 50%;
  height: 1em;
  border-left: 3px solid black;
}

.flow-family-tree li:first-child:before {

  width: 100%;
}

.flow-family-tree li:last-child:before {
  width: 100%;
}

.flow-family-tree li:only-child:before {
  display: none;
}

.flow-family-tree > li {
  padding: 0;
}

.flow-family-tree > li:before, .flow-family-tree > li:after {
  display: none;
}
a {
  text-decoration: none;
  color: #121314;
  position: relative;
}

a:hover:after {
  top: 0%;
}

a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, .8, .13, 1);
  background-color: rgba(79,192,141,0.5);
}

p.text-left {
    text-align: left;
}

.text-box {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #000000;
  
}


#fund-content p {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #000000;
}